@import "../../../styles/colors.scss";
@import "../../../utils/breakpoints.scss";


:export {
    primaryColor: $primary-color;
    primaryTextColor: $primary-text-color;
    sm: $sm;
    md: $md;
    lg: $lg;
}