@import "../../utils/breakpoints.scss";

.layout {
    width: 75%;
    margin: 0 auto;

    @media (min-width: $sm){
        width: 65%;
    }

    @media (min-width: $lg){
        width: 90%;
    }

    @media (min-width: $xl) {
        width: 70%;
    }
}