@import "../../styles/colors.scss";
@import "../../utils//breakpoints.scss";

.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $complementary-color;
    width: 100vw;
    padding: 8px 16px;

    @media (min-width: $lg){
        padding: 16px 32px;
    }

    @media (min-width: $xl){
        padding: 16px 80px;
    }

    .hamburgerMenu {
        display: flex;
        gap: 4px;
        flex-direction: column;
        border: 1px solid $primary-text-color;
        border-radius: 2px;
        padding: 8px;
        z-index: 3;
        
    
        @media (min-width: $sm) {
            display: none;
        }
    
        .hamburgerMenuLine {
            width: 24px;
            height: 3px;
            border-radius: 5px;
            background-color: $primary-text-color;
        }
    }

    .navbarLink {
        font-family: "Nunito Sans";
        color: $primary-text-color;
        border-bottom: 1px solid $primary-text-color;
        cursor: pointer;
        letter-spacing: 2px;
        transition: border-color 350ms, color 350ms cubic-bezier(0.4, 0, 0.2, 1);
        // transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: $contrast-color;
            border-color: $contrast-color;
        }
    }
    
    .imageContainer {
        position: relative;
        width: 60px;
        height: 60px;

        @media (min-width: $lg){
            width: 80px;
            height: 80px;
        }
    }
}