@import "../../utils/breakpoints.scss";

.heroContainer {
    width: 100vw;
    background-image: url("/images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 48px;
    height: 90vh;
    justify-content: center;
    align-items: center;

    @media (min-width: $sm) {
        height: 75vh;
    }

    @media (min-width: $md) {
        height: 90vh;
    }

    @media (min-width: $xl){
        padding: 0;
        height: 95vh;
    }
    
}

.heroText {
    font-family: "Raleway";
    margin: 0;
    font-weight: 700;
    text-align: center;
    width: 90vw;
    font-size: 3.5rem;

    @media (min-width: $sm){
        font-size: 3.5rem;
        width: 75vw;
    }

    @media (min-width: $md){
        font-size: 4rem;
    }

    @media (min-width: $lg){
        font-size: 5rem;
    }

    @media (min-width: $xl){
        font-size: 8rem;
        width: 60vw;
    }
}