@import "../../utils/breakpoints.scss";
@import "../../styles/colors.scss";

.informationGridContainer {
    position: relative;
    padding: 32px 0px;
    align-self: flex-start;


    .gridTitle {
        color: $primary-text-color;
        font-weight: bold;
        font-size: 1.8rem;
        margin-bottom: 16px;

        @media (min-width: $lg){
            font-size: 2.4rem;
        }
    }

    .grid {
        display: flex;
        flex-direction: column;
        color: $secondary-text-color;
        gap: 16px;

        @media (min-width: "410px"){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 16px;
        }

        @media (min-width: $lg){
            display: flex;
            justify-content: space-between;
        }
    }

}