@import "../../utils/breakpoints.scss";
@import "../../styles/colors.scss";

.footerContainer {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 32px;

    @media (min-width: $sm) {
        padding: 32px 100px;
    }

    @media (min-width: $xl){
        padding: 100px;
    }

    .imageContainer {
        position: relative;
        width: 80px;
        height: 80px;

        @media (min-width: $xl) {
            width: 160px;
            height: 160px;
        }
    }

    .informationContainer {
        @media (min-width: $sm) {
            width: 100%;
        }

        @media (min-width: $lg) {
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }

        @media (min-width: $xl) {
        }

        .infoContainer {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .infoLink,
    .infoText {
        font-size: 1.6rem;

        @media (min-width: $lg) {
            font-size: 1.8rem;
        }
    }
    .infoLink {
        &:hover {
            color: $primary-text-color;
        }
    }

    .copyrightText {
        text-align: center;
        margin-top: 16px;
        font-size: 1.4rem;

        @media (min-width: $md) {
            font-size: 1.6rem;
        }

        @media (min-width: $xl) {
            position:absolute;
            bottom: 24px;
        }
    }
}
