@import "../../utils/breakpoints.scss";
@import "../../styles/colors.scss";

.footerContainer {
    background-color: #2E364F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;

    .imageContainer {
        position: relative;
        width: 80px;
        height: 80px;
    }

    .infoContainer {
        display: flex;
        align-items: center;
        gap: 8px;

        .infoText {
            font-size: 1.6rem;
        }
    }
}