@import "../../styles/colors.scss";
@import "../../utils/breakpoints.scss";

.serviceContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 54px 24px;
    border-radius: 5px;
    background-color: $complementary-color;
    box-shadow: rgb(0 0 0 / 25%) 0px 3px 6px 0px;

    @media (min-width: $sm) {
        gap: 40px;
        padding: 80px 50px;
    }

    @media (min-width: $md) {
        padding: 80px;
    }

    @media (min-width: $lg) {
        gap: 0;
        height: 700px;
        justify-content: space-between;
        padding: 100px 60px;
    }
    

    @media (min-width: $xl) {
        width: 600px;
        padding: 100px 80px;
    }

    .iconContainer {
        position: relative;
        width: 60px;
        height: 60px;

        @media (min-width: $sm) {
            width: 80px;
            height: 80px;
        }

        @media (min-width: $lg) {
            width: 120px;
            height: 120px;
        }
    }
}
