@import "../utils/breakpoints.scss";
@import "../styles/colors.scss";

.contactPage {
    padding: 80px 0;
    background-color: $complementary-color;

    @media (min-width: $lg){
        padding: 140px;
    }

    h2 {
        text-align: center;
    }

    .separator {
        height: 3px;
        background-color: $primary-text-color;
        width: 120px;
        border: none;
        margin-bottom: 54px;

        @media (min-width: $sm) {
            width: 140px;
            margin-bottom: 80px;
        }

        @media (min-width: $md) {
            width: 160px;
        }

        @media (min-width: $lg) {
            width: 260px;
            height: 5px;
            margin-bottom: 100px;
        }

        @media (min-width: $xl) {
            margin-bottom: 140px;
        }
    }

    .cardAndFormContainer {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .formContainer {
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            @media (min-width: $sm){
                width: 80%;
            }

            @media (min-width: $md){
                width: 70%;
            }

            @media (min-width: $lg){
                width: 550px;
            }

            
            @media (min-width: $xl){
                width: 700px;
            }

            h3 {
                margin-bottom: 8px;
            };

            p {
                font-size: 1.5rem;
                color: $contrast-color;

                
                @media (min-width: $lg){
                    margin-bottom: 24px;
                    font-size: 1.6rem;
                }
            }
            
            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 32px;
                width: 100%;

                @media (min-width: $xl){
                    gap: 48px;
                }

                .label {
                    font-size: 1.5rem;
                    font-family: "Poppins";
                    color: $primary-text-color;

                    span {
                        color: orange;
                    }
                }

                .namesInputContainer {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    margin-top: 24px;


                    @media (min-width: $md){
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }

                .inputField {
                    background-color: inherit;
                    border: none;
                    border-bottom: 1px solid $secondary-text-color;
                    width: 100%;
                    font-family: "Nunito sans";
                    font-size: 1.6rem;
                    color: $primary-text-color;

                    &:focus {
                        outline: none;
                    }
                }

            }
        }

        .contactInformationCard {
            background-color: $primary-color;
            padding: 16px 32px 16px 32px;
            border-radius: 4px;
            box-shadow: rgb(0 0 0 / 25%) 0px 3px 6px 0px;
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (min-width: $sm){
                width: 450px;
                margin: 0 auto;
            }

            @media (min-width: $lg){
                padding: 24px 40px;
                width: 600px;
                margin-bottom: 32px;
            }

            .contactInformationContainer {
                display: flex;
                gap: 16px;
                color: $secondary-text-color;
                font-size: 1.6rem;
                align-items: center;
                margin-top: 16px;
            }
        }
    }
}
