@import "../utils/breakpoints.scss";
@import "./colors.scss";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;


    p {
        font-size: 1.6rem;
        color: $secondary-text-color;

        @media (min-width: $sm){
            font-size: 1.8rem;
        }

        @media (min-width: $lg){
            font-size: 2rem;
        }
    }

    h1 {
        color: $primary-text-color;
        font-size: 2.6rem;

        @media (min-width: $sm){
            font-size: 2.8rem;
        }
    
        @media (min-width: $md){
            font-size: 3rem;
        }
    
        @media (min-width: $lg){
            font-size: 4.5rem;
        }
    }

    h2 {
        color: $primary-text-color;
        font-size: 2rem;

        @media (min-width: $sm){
            font-size: 2.2rem;
        }
    
        @media (min-width: $md){
            font-size: 2.6rem;
        }
    
        @media (min-width: $lg){
            font-size: 2.8rem;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
        font-family: "Nunito Sans";
    }

    a {
        color: $primary-text-color;
        text-decoration: none;
    }

    * {
        box-sizing: border-box;
    }
}
